---
import BaseLayout from "../layouts/BaseLayout.astro";
import AerosolParticles from "../components/AerosolParticles.jsx";
---

<BaseLayout title="Interactive" showParticles={false}>
  <h2>Atmospheric Aerosol Explorer</h2>
  <AerosolParticles client:only="react" />
  <p>Use the slider to change the number of aerosol particles floating in the atmosphere.</p>
</BaseLayout>
