body {
/*    font-family: system-ui, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
                 Roboto, Helvetica, Arial, sans-serif;
    background: #070707;
    color: #cac3c3;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 4rem auto;
    padding: 2rem;
    background: rgb(17, 17, 17);
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    border-radius: 10px;
}

header h1 {
    margin: 0;
    color: #b7b9bc;
}

header h2 {
    font-weight: 400;
    color: #d1cccc;
}

header h3 {
    font-weight: 400;
    color: #d1cccc;
}

nav a {
    margin-right: 1rem;
    color: #eb07d8;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 1.5rem;
}

footer {
    margin-top: 3rem;
    text-align: center;
    color: #888;
}

